.container-fluid#lobby_chat{role: "lobby_chat"}
  %div{style: "display: hidden", role: "websocket_host",
    data: { websocket_host: "#{CONFIG[Rails.env][:websocket_host]}" }}
  .row
    .col-xs-2.col-xs-offset-2
      #lobby_users{role: "lobby_users"}
    .col-xs-7
      #lobby_chat_box{role: "lobby_chat_box"}

  .row
    .col-xs-9.col-xs-offset-2
      = text_field_tag "lobby_chat_input", nil, rows: 3, role: "lobby_chat_input"
      = button_tag "Send", id: "chat_submit", role: "chat_submit"

