.container-fluid#lobby_chat{role: "lobby_chat"}
  .row
    .col-xs-2.col-xs-offset-2
      = text_area_tag "lobby_users", nil, cols: 30, rows: 25, disabled: true
    .col-xs-7
      = text_area_tag "lobby_chat_box", nil, cols: 100, rows: 25, disabled: true,
        role: "lobby_chat_box"

  .row
    .col-xs-9.col-xs-offset-2
      = text_area_tag "lobby_chat_input", nil, rows: 3
      = button_tag "Send", id: "chat_submit"

