#lobby_chat
  margin-bottom: 50px

  textarea
    +box_sizing_border_box
    +box_shadow
    resize: none
    background-color: #171717
    color: white
    border-radius: 10px
    border: 1px solid black

  #lobby_chat_input
    +no_box_shadow
    border-radius: 0
    width: 787px
    height: 55px
    padding: 5px 10px

  #chat_submit
    +dark_button(#171717, 0%)
    position: absolute
    border-radius: 0
    height: 55px

